<!-- to include context from different html file to this file -->
<!-- used for context that should be same in all of your html files -->
<%- include("header") -%>


    <div class="box" id="heading">
      <h1><%=day%></h1>
    </div>

    <div class="box">
        <%for(var i=0;i<newItems.length;i++){%>
      <div class="item">
        <input type="checkbox">
        <p><%=newItems[i]%></p>
      </div>
      <%}%>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
        <div class="add">
          <button type="submit" name="button" value="add">+</button>
        </div>
        <div class="remove">
          <button type="submit" name="button" value="remove" >-</button>
        </div>

      </form>

    </div>


<%-include("footer")-%>
